################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CheckGit/.vs/CheckGit/v16
/CheckGit/CheckGitWeb/obj
/CheckGit/.vs/CheckGit/config
/CheckGit/CheckGitWeb/bin/Debug/net5.0
